@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  @media (min-width: map-get($grid-breakpoints,"md")) {
    & {
      padding: 20px 40px;
    }
  }
}

.primary-btn {
  border: none;
  border-radius: 0;
  background-color: $primary;
  color: #fff;

  transition: background-color 500ms ease-in;

  &:hover {
    color: #fff;
    background-color: #547552;
  }
}

.secondary-btn {
  border: 1px solid $primary;
  border-radius: 0;
  color: $primary;
  border-color: $primary;

  transition:
    background-color 500ms ease-in,
    color 500ms ease-in;

  &:hover {
    color: #fff;
    background-color: $primary;
  }
}

.tertiary-btn {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  align-items: center;

  .btn__content {
    border: none;

    font-size: 14px;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 16px;
  }

  .btn__right-icon {
    display: block;
    width: 24px;
    height: 24px;

    background: url("../assets/img/after-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    bottom: 2px;

    transition: transform 400ms linear;
  }

  &:hover {
    .btn__right-icon {
      transform: translateX(6px);
    }
  }
}
